/* FONT STYLING */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;

    --primary: hsl(171, 66%, 44%);
    --secondary: hsl(233, 100%, 69%);
    --dark-gray: hsl(210, 10%, 33%);
    --gray: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

main, header {
    padding: 40px;
}

/* HEADER START */

header {
    background: url("images/bg-header-mobile.png") no-repeat;
    background-size: 100%;
    
}

header .banner__head {
    margin: 60px;
}

header .banner__content {
    margin-bottom: 40px;
}

header .banner__content .banner__title {
    color: var(--dark-gray);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

header .banner__content .banner__subtitle {
    font-size: .9rem;
    line-height: 27px;
    color: var(--gray);
}

/* BUTTON STYLE START */

header .banner__download--buttons button, .download--buttons .download__action--buttons button {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

header .banner__download--buttons button:hover, header .banner__download--buttons button:focus,
.download--buttons .download__action--buttons button:hover,
.download--buttons .download__action--buttons button:focus {
    opacity: .8;
    font-weight: 600;
}

.button--ios {
    background-color: var(--primary);
    box-shadow: 0px -2px 0px 1px hsl(171, 99%, 30%, 0.463) inset;
}

.button--mac {
    background-color: var(--secondary);
    box-shadow: 0px -2px 0px 1px hsla(233, 93%, 38%, 0.463) inset;
}

/* BUTTON STYLE END */

/* HEADER END */
/* MAIN START */

main .feature__section {
    margin: 5em 0;
    
}

main .feature__section .leading__title, .download--buttons .leading__title {
    font-size: 1.7rem;
    color: var(--dark-gray);
    margin-bottom: 20px;
}

main .feature__section .leading__subtitle, .download--buttons .leading__subtitle {
    color: var(--gray);
    font-size: .9rem;
    line-height: 27px;
    margin-bottom: 50px;
}

main .feature__section .feature__image {
    width: 100%;
}

main .feature__section .feature__list {
    margin-top: 50px;
    list-style-type: none;
}

main .feature__section .feature__list--item {
    margin-bottom: 40px;
}

main .feature__section .feature__list--item h2 {
    color: var(--dark-gray);
    font-size: 1.3rem;
    margin-bottom: 10px;
}

main .feature__section .feature__list--item p {
    color: var(--gray);
    line-height: 27px;
}

main .feature__section .feature__list--item img {
    margin: 40px 0;
}

main .sponsored__icon {
    margin-bottom: 6em;
}

main .sponsored__icon img {
    display: block;
    width: 150px;
    margin: 50px auto;
}

/* MAIN END */

/* FOOTER START*/
footer {
    padding: 40px 0;
    margin-top: 100px;
    background-color: #e1e1e147;
}

footer img{
    width: 60px;
    margin: 40px 0;
}

footer .footer__list li {
    cursor: pointer;
    color: var(--gray);
    margin: 30px 0;
}

footer .social__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    cursor: pointer;
}

footer .social__list li {
    margin: 0 20px;
}

footer .social__list li img {
    width: 30px;
}

/* FOOTER END */

/* Desktop */
@media screen and (min-width: 720px) {

    .flex {
        display: flex;
        justify-content: space-around;
    }

    header {
        background: url("images/bg-header-desktop.png") no-repeat;
        background-size: 100%;
    }

    header .banner__download--buttons, .download--buttons .download__action--buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    header .banner__download--buttons button, .download--buttons .download__action--buttons button {
        width: 300px;
    }  

    main .feature__section {
        width: 80%;
        margin: 8em auto;
    }

    main .feature__section .feature__banner {
        display: flex;
    }

    main .feature__section .feature__banner .feature__image {
        width: 70%;
        margin-left: -20%;
    }

    main .feature__section .feature__banner .feature__list:nth-child(2) {
        text-align: left;
        margin-left: 10em;
    }

    main .feature__section .feature__list {
        text-align: center;
    }

    main .feature__section .feature__list--item {
        width: 300px;
    }

    main .sponsored__icon img {
        height: 60px;
        width: 120px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    footer .footer__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 40px);
        text-align: left;
    }
}